<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="formulario">
        <div class="card mt-4">
          <div class="card-body">

            <form (submit)="addMeal(totalGrams, totalCals, proteinGrams, fatGrams, carbGrams)">
              <div class="form-group">
                <input
                  class="form-control"
                  type="number" step="any" min = "0"
                  placeholder="Total"
                  #totalGrams
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="number" step="any" min = "0"
                  placeholder="Calorias"
                  #totalCals
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="number" step="any" min = "0"
                  placeholder="Proteina"
                  #proteinGrams
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="number" step="any" min = "0"
                  placeholder="Grasa"
                  #fatGrams
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="number" step="any" min = "0"
                  placeholder="Carbohidratos"
                  #carbGrams
                />
              </div>

              <button type="submit" class="btn btn-primary btn-block">
                Enviar
              </button>
            </form>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="chart">
        <div class="card mt-4">
          <div class="card-body">
              <div style="display: block">
                <canvas
                  baseChart
                  [data]="doughnutChartData"
                  [type]="doughnutChartType"
                >
                </canvas>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
